body{
	background-color: #00001A;
}

h1 {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: #FFFFFF;
}

img {
	max-width: 15%;
}

p {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: #FFFFFF;
}